html
head
title Calculator Web Site
body
p The result is: #{result}
a(href="/calculator") Another calculation
p.
    asdasdsadas
    asdasdaszxcvxv
    xcvxcvxc
-var x = 5
    div
        ul
            -for (var i = 1; i <= x; i++) li = i + ". Hello World"

-var dr=["a","b"]
    div
        for name in dr
            div
                h2= name

mixin a(name)
    h1= name

+a('sujan')
